html {
  height: 100%;
}
body {
  height: 100%;

  color: #e394ec;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(197deg, #350b33 0%, #0a0b30 100%);

  font-family:Arial, Helvetica, sans-serif;
}

.article {
  margin: 1em;
}

h1.album {
  text-align: center;
  font-size: 5rem;
  color: #00ffff;
  text-shadow: 0 0 15px #e20aff;
}

div.album-desc {
  position: relative;
  max-width: 30rem;
  display: table;
  margin: auto;
}

.album-desc .love {
  position: absolute;
  text-align: center;
  left: -80px;
  opacity: 0.15;
  text-shadow: 0 0 130px #00fffa;
  top: -560px;
  z-index:-1;
  font-style: normal;
  font-size: 420px;
}

.album-desc p {
  font-size: 1.17rem;
  font-style: italic;
  text-align: center;
  white-space:pre-line;
}

h2.band {
  margin: 2rem;
  color: #e500ff;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;

  text-shadow: 0px 0px 15px #163979c7;
  font-weight: bold;
}

h2.band small {
  color: #5e2165;
  font-size: 80%;
}

p.what {
  color: #00ffff;
  font-size: 1.4rem;
  border: 1px solid pink;
  border-radius: 10px;
  padding: 20px;
  margin: 50px auto;
  display: table;
  background: #3d0f40;
  box-shadow: 0 0 15px #f51aed;
  text-shadow: 0 0 5px #000000d6;
}

h3.pre-sale {

}