@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

html {
  height: 100%;
}
body {
  height: 100%;
  overflow: hidden;

  color: #e394ec;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(197deg, #350b33 0%, #0a0b30 100%);

  font-family:Arial, Helvetica, sans-serif;
}

#article {
  height: 100%;
  width: 100%;
  overflow:auto;
  position: relative;
}

h1.album {
  text-align: center;
  font-size: 5rem;
  color: #00ffff;
  text-shadow: 0 0 15px #e20aff;
}

div.album-desc {
  position: relative;
  width: 300px;
  display: table;
  margin: -90px auto;
  padding: 100px;
}

.album-desc .love {
  position: absolute;
  text-align: center;
  left: -80px;
  opacity: 0.15;
  text-shadow: 0 0 130px #00fffa;
  top: -560px;
  z-index:-1;
  font-style: normal;
  font-size: 420px;
  display: none;
}

.album-desc img.tree {
  position:absolute;
  top:-40px;
  left:0px;
  bottom:0;
  right:0;
  z-index:20;
  filter: drop-shadow(0 0 130px #00fffa);
  animation: shadow 18s infinite;
}

.album-desc .heart {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  opacity:0.15;
  z-index:-1;
  background-image: url(heart.svg);
  background-size: cover;
  background-position-x: 22px;
  background-position-y: -40px;
  background-repeat: no-repeat;
  box-shadow: 0 0 130px #00fffa;
  display:none;
}


@keyframes loved {
  0% { 
    color: #3c4858;
  }
  90% { 
    color: #ffffffcf;
  }
}

@keyframes shadow {
  0%, 100%  { 
    filter: brightness(0.12) drop-shadow(0 10px 130px #00fffa);
  }
  50% { 
    filter: brightness(0.08) drop-shadow(0 10px 130px #ffff00);
  }
}

.album-desc svg {
  display: none;
  position:absolute;
  top:-30px;
  left:40px;
  bottom:0;
  right:0;
  opacity:0.9;
  z-index:20;
  filter: drop-shadow(0 0 130px #00fffa);
  animation: shadow 3s infinite;
}

.album-desc p {
  position: relative;
  z-index:30;
  font-size: 1.17rem;
  font-style: italic;
  text-align: center;
  white-space:pre-line;
}

h2.band {
  margin: 2rem;
  color: #e500ff;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;

  text-shadow: 0px 0px 15px #163979c7;
  font-weight: bold;
}

h2.band small {
  color: #5e2165;
  font-size: 80%;
}

#article .what {
  color: #3c4858;
  font-size: 1.4rem;
  margin: 50px auto;
  display: table;
}

#sib-container.what {
  font-size: inherit;
  border: 1px solid #e11bfe8f;
  border-radius: 10px;
  padding: 20px;
  background: #05133199;
  box-shadow: 0 0 15px #ff996278;
}


#article .what b {
  color: #e41cf899;
}
#article .what .hand {
  color: #7fffd48f;
}
#article .what .paint {
  color: #ff7ffb8f;
}
#article .what .loved {
  color: #ffffffcf;
  text-shadow: 0 0 15px #e01dfe;
  animation: loved 3s infinite;
  animation-direction: alternate;
}

.qr img {
  border-style: none;
  max-width: 20%;
  display: table;
  margin: auto;
}

h3.pre-sale {

}

/**** share buttons ****/



#connect {
  height: 600px;
  padding: 0;
}

/*Pen code from this point on*/
.btn {
  clear:both;
  white-space:nowrap;
  font-size:.8em;
  display:inline-block;
  border-radius:5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
  margin:2px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  overflow:hidden
}

.btn:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
}

.btn:focus {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.btn > span,.btn-icon > i {
  float:left;
  padding:13px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  line-height:1em
}

.btn > span {
  padding:14px 18px 16px;
  white-space:nowrap;
  color:#FFF;
  background:#b8b8b8
}

.btn:focus > span {
  background:#9a9a9a
}

.btn-icon > i {
  border-radius:5px 0 0 5px;
  position:relative;
  width:13px;
  text-align:center;
  font-size:1.25em;
  color:#fff;
  background:#212121
}

.btn-icon > i:after {
  content:"";
  border:8px solid;
  border-color:transparent transparent transparent #222;
  position:absolute;
  top:13px;
  right:-15px
}

.btn-icon:hover > i,.btn-icon:focus > i {
  color:#FFF
}

.btn-icon > span {
  border-radius:0 5px 5px 0
}

/*Facebook*/
.btn-facebook:hover > i,.btn-facebook:focus > i {
  color:#3b5998
}

.btn-facebook > span {
  background:#3b5998
}

/*Twitter*/
.btn-twitter:hover > i,.btn-twitter:focus > i {
  color:#55acee
}

.btn-twitter > span {
  background:#55acee
}

/*Google*/
.btn-googleplus:hover > i,.btn-googleplus:focus > i {
  color:#dd4b39
}

.btn-googleplus > span {
  background:#dd4b39
}

/*Pinterest*/
.btn-pinterest:hover > i,.btn-pinterest:focus > i {
  color:#cb2028
}

.btn-pinterest > span {
  background:#cb2028
}

/*LinkedIn*/
.btn-linkedin:hover > i,.btn-linkedin:focus > i {
  color:#007bb6
}

.btn-linkedin > span {
  background:#007bb6
}


/*** SENDINBLUE ***/
#sib-container {
  margin: 2rem auto;
  display: table;
  width: auto;
  width: 600px;
  /* height: 200px; */
}

@font-face {
  font-display: block;
  font-family: Roboto;
  src: url(https://assets.sendinblue.com/font/Roboto/Latin/normal/normal/7529907e9eaf8ebb5220c5f9850e3811.woff2) format("woff2"), url(https://assets.sendinblue.com/font/Roboto/Latin/normal/normal/25c678feafdc175a70922a116c9be3e7.woff) format("woff")
}

@font-face {
  font-display: fallback;
  font-family: Roboto;
  font-weight: 600;
  src: url(https://assets.sendinblue.com/font/Roboto/Latin/medium/normal/6e9caeeafb1f3491be3e32744bc30440.woff2) format("woff2"), url(https://assets.sendinblue.com/font/Roboto/Latin/medium/normal/71501f0d8d5aa95960f6475d5487d4c2.woff) format("woff")
}

@font-face {
  font-display: fallback;
  font-family: Roboto;
  font-weight: 700;
  src: url(https://assets.sendinblue.com/font/Roboto/Latin/bold/normal/3ef7cf158f310cf752d5ad08cd0e7e60.woff2) format("woff2"), url(https://assets.sendinblue.com/font/Roboto/Latin/bold/normal/ece3a1d82f18b60bcce0211725c476aa.woff) format("woff")
}

#sib-container input:-ms-input-placeholder {
  text-align: left;
  font-family: "Helvetica", sans-serif;
  color: #c0ccda;
}

#sib-container input::placeholder {
  text-align: left;
  font-family: "Helvetica", sans-serif;
  color: #c0ccda;
}

#sib-container textarea::placeholder {
  text-align: left;
  font-family: "Helvetica", sans-serif;
  color: #c0ccda;
}

.sib-form__declaration {
  opacity: 0.4;
  filter: hue-rotate(71deg);
}

p.agree {
  color: #e41cf8a6;
}