html {
  height: 100%;
}
body {
  height: 100%;
  overflow: hidden;

  color: #e394ec;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(197deg, #350b33 0%, #0a0b30 100%);

  font-family:Arial, Helvetica, sans-serif;
}

#article {
  height: 100%;
  width: 100%;
  overflow:auto;
  position: relative;
}

h1.album {
  text-align: center;
  font-size: 5rem;
  color: #00ffff;
  text-shadow: 0 0 15px #e20aff;
}

div.album-desc {
  position: relative;
  max-width: 300px;
  display: table;
  margin: -100px auto;
  padding: 100px;
}

.album-desc img.tree {
  position:absolute;
  top:-40px;
  left:0px;
  bottom:0;
  right:0;
  z-index:20;
  filter: drop-shadow(0 0 130px #00fffa);
  animation: shadow 18s infinite;
}

@keyframes loved {
  0% { 
    color: #3c4858;
  }
  90% { 
    color: #ffffffcf;
  }
}

@keyframes shadow {
  0%, 100%  { 
    filter: brightness(0.12) drop-shadow(0 10px 130px #00fffa);
  }
  50% { 
    filter: brightness(0.08) drop-shadow(0 10px 130px #ffff00);
  }
}

.album-desc p {
  position: relative;
  z-index:30;
  font-size: 1.3rem;
  font-style: italic;
  text-align: center;
  white-space:pre-line;
  text-shadow: 0 0 8px #211035;
}

h2.band {
  color: #5e2165;
  font-size: 1.4rem;

  text-align: center;
  font-weight: bold;
}

.thank-you h2.band {
  margin-top: 60px;
}

h2.band b {
  font-size: 2rem;
  color: #00ffff73;
  text-shadow: 0 0 15px #e20aff78;
}


#article .what b {
  color: #e394ec;
}
#article .what .hand {
  color: #02fff7;
}
#article .what .paint {
  color: #88ff6f;
}
#article .what .loved {
  color: #ffffffcf;
  text-shadow: 0 0 15px #e01dfe;
  animation: loved 3s infinite;
  animation-direction: alternate;
}

.qr img {
  border-style: none;
  max-width: 20%;
  display: table;
  margin: auto;
}

/*** SENDINBLUE ***/

#sib-container {
  margin: 2rem auto;
  display: table;
  width: auto;
  width: 600px;
  /* height: 200px; */
}

@font-face {
  font-display: block;
  font-family: Roboto;
  src: url(https://assets.sendinblue.com/font/Roboto/Latin/normal/normal/7529907e9eaf8ebb5220c5f9850e3811.woff2) format("woff2"), url(https://assets.sendinblue.com/font/Roboto/Latin/normal/normal/25c678feafdc175a70922a116c9be3e7.woff) format("woff")
}

@font-face {
  font-display: fallback;
  font-family: Roboto;
  font-weight: 600;
  src: url(https://assets.sendinblue.com/font/Roboto/Latin/medium/normal/6e9caeeafb1f3491be3e32744bc30440.woff2) format("woff2"), url(https://assets.sendinblue.com/font/Roboto/Latin/medium/normal/71501f0d8d5aa95960f6475d5487d4c2.woff) format("woff")
}

@font-face {
  font-display: fallback;
  font-family: Roboto;
  font-weight: 700;
  src: url(https://assets.sendinblue.com/font/Roboto/Latin/bold/normal/3ef7cf158f310cf752d5ad08cd0e7e60.woff2) format("woff2"), url(https://assets.sendinblue.com/font/Roboto/Latin/bold/normal/ece3a1d82f18b60bcce0211725c476aa.woff) format("woff")
}

#sib-container input:-ms-input-placeholder {
  text-align: left;
  font-family: "Helvetica", sans-serif;
  color: #c0ccda;
}

#sib-container input::placeholder {
  text-align: left;
  font-family: "Helvetica", sans-serif;
  color: #c0ccda;
}

#sib-container textarea::placeholder {
  text-align: left;
  font-family: "Helvetica", sans-serif;
  color: #c0ccda;
}

.sib-form__declaration {
  opacity: 0.4;
  filter: hue-rotate(71deg);
}

.sib-form .entry__specification {
  color: #8a9cb4;
  margin: 0;
  font-size: 80%;
}

p.agree {
  color: #e41cf8a6;
}

#sib-form .entry__label {
  display: inline;
}

#sib-form > div {
  padding: 8px 0;
}

svg.svgIcon-sphere {
  width:63px;
  height:63px;
}

#sib-form .sib-form-block__button {
  background: #e20aff;
  font-weight: bold;
  color: #121031;

  border: 1px solid #e11bfe8f;
  border-radius: 5px;
  box-shadow: 0 0 15px #0f0906cf;
}

#article .what {
  text-align: center;
  color: #3c4858;
  font-size: 1.4rem;
  margin: 20px;
}


@media (min-width:320px)  { 
  #article p.what {
    line-height:150%;
  }
  #connect {
    padding: 0;
  }
  #sib-container.what {
    margin: 50px 0 0 0;
    font-size: inherit;
    width: 100%;
    border-top: 1px solid #e11bfe8f;
    padding: 50px;
    background: #05133199;
    box-shadow: 0 0 15px #ff996278;
  }
}

@media (min-width:700px) { 
  #connect {
    height: 600px;
  }

  #article .what {
    color: #3c4858;
    font-size: 1.4rem;
    margin: 50px auto;
    display: table;
  }
  #sib-container.what {
    width: 600px;
    display: table;
    margin: 50px auto;
    font-size: inherit;
    border: 1px solid #e11bfe8f;
    border-radius: 10px;
    padding: 20px;
    background: #05133199;
    box-shadow: 0 0 15px #ff996278;
  }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ }